style
{    
    font-family: 'Times New Roman', Times, serif;
}

.titindex
{    
    font-weight: bold;
    text-align: center;
    color: antiquewhite;
    background-color: black;
}

.titinj
{    
    text-align: center;
    color: blanchedalmond;
    background-color: black;
}

.fig
{    
    font-style: italic;
}
